@media only screen and (min-width: 1000px){
    .inner{
      max-width: 1000px;
    }
}

.minor {
  width: 100vw;
  height: 100vh;
}

.minor > .minor_title {
  width: 55rem;
  height: 5rem;
  margin-left: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minor > .minor_title > p {
  font-size: 1.2rem;
  font-weight: 600;
}

.minor > .minor_title > p > span {
  color: #3B4890;
}

.minor > .minor_title > button {
  width: 11rem;
  height: 2.5rem;
  color: #fff;
  background-color: #DC3915;
  border-radius: 3px;
  font-weight: 600;
}

.minor_top {
  width: 55rem;
  height: 15rem;
  margin-left: 25rem;
  border: black 4px solid;
}

.pop_new {
  display: flex;
}

.minor_top > .pop_new > .popular_gal > .popular_top > h2 {
  width: 25.25rem;
  height: 2rem;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  border-bottom: 1px dotted gray;
}

.popular_gal {
  width: 27.5rem;
  height: 12.5rem;
  border-right: 1px solid #BFBFBF;
}

.minor_top > .pop_new >.popular_gal > .popular_top > h2 > span {
  font-style: oblique;
  color: #DC3915;
}

.minor_top > .pop_new > .new_gal > .new_top > h2 {
  width: 25.25rem;
  height: 2rem;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  border-bottom: 1px dotted gray;
}

.minor_top > .pop_new > .new_gal > .new_top > h2 > span {
  font-style: oblique;
  color: #DC3915;
}

.minor_bottom  {
  width: 55rem;
  height: 2.45rem;
  margin-top: -1.15rem;
  background-color: #F3F3F3;
}

.minor_bottom > h3 {
  font-size: 1rem;
  margin-left: 1rem;
  line-height: 2.5rem;
}

.minor_bottom > h3 > span {
  color: #DC3915;
}

.last_visit {
  width: 80rem;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 22.5rem;
  background-color: #F3F3F3;
  display: flex;
  justify-content: space-between;
}

.last_visit > h2 {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-left: 1rem;
  color: #3B4890;
}

.last_visit > button{
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
}

.last_visit > button > img {
  width: 8px;
  height: 12px;
}

.main_title {
  width: 80rem;
  height: 4rem;
  margin-left: 22.5rem;
  border-bottom: 5px #3B4890 solid;
  display: flex;
}

.main_title > b {
  width: 5rem;
  font-size: 1rem;
  font-weight: 900;
  margin-top: 2.5rem;
  color: #3B4890;
}

.search_text {
  width: 11rem;
  margin-right: 16rem;
  margin-top: 2.5rem;
  color: #3B4890;
}

.main_title > div {
  margin-left: -26rem;
  width: 50rem;
  height: 4rem;
  display: flex;
}

.main_title > div > input {
  width: 20rem;
  height: 1.5rem;
  margin-left: 10rem;
  margin-top: 2rem;
  border: #3B4890 3px solid;
}

.main_title > div > .search > #img {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.main_title > p {
  width: 12.3rem;
  height: 3rem;
  margin-top: 2.5rem;
  margin-left: 3rem;
}

.main_title > div > .search {
  width: 2rem;
  height: 1.85rem;
  margin-top: 2rem;
  background-color: #3B4890;
  border: #3B4890 1px solid;
}

.main_title > div > .all_search {
  margin-left: 1rem;
  width: 4.7rem;
  height: 1.5rem;
  margin-top: 2.1rem;
  cursor: pointer;
}

.detail {
  width: 80rem;
  height: 25rem;
  margin-left: 22.5rem;
  margin-top: 0.5rem;
  border: 3px solid #F3F3F3;
}

.detail_title {
  width: 80rem;
  height: 3rem;
  background-color: #F3F3F3;
}