.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > form {
    display: flex;
    align-items: center;
    width: 25rem;
    height: 3rem;
}

.header > .ico-search {
    display: flex;
    margin-right: 40em;
}

.header > .ico-search > form {
    width: 26rem;
}

.header > .ico-search > form > input {
    width: 21.5rem;
    height: 3rem;
    border: 4px solid #3b4890;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    margin-top: 1.1em;
    margin-left: 1em;
}

.header > .ico-search > form > button {
    width: 3.5rem;
    height: 3rem;
    background-color: #3b4890;
    border: none;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}

.header > form > button > svg {
    margin-bottom: -0.2rem;
}

.navigation {
    width: 100%;
    height: 3rem;
    background-color: #3b4890;
}

.navigation > .nav-container {
    width: 30%;
    height: 100%;
    margin-left: 18%;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.navigation > .nav-container > span {
    color: #fff;
    font-size: large;
}

.post-container {
    margin: auto;
    width: 83rem;
    height: 100vh;
}

.post-container > .recent-visit {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: #eee;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
}

.post-container > .recent-visit > div:first-child {
    margin-left: 1rem;
    color: #3b4890;
    font-weight: bold;
}

.post-container > .recent-visit > div:first-child > button {
    margin-left: 0.5rem;
    background-color: #ddd;
    width: 1.7rem;
    height: 1.5rem;
    border: none;
    color: #000;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.post-container > .recent-visit > div:first-child > button > svg {
    margin-bottom: -0.15rem;
}

.visit-container-open {
    width: 100%;
    height: 20rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: visible;
    transition: all .25s;
    z-index: 2;
}

.visit-container-close {
    width: 100%;
    height: 0;
    transition: all .25s;
    visibility: hidden;
}

.visit-container-close > * {
    visibility: hidden;
}

.visit-container-open > .divider {
    margin: auto;
    width: 100%;
    height: 3.3rem;
    background-color: #faa;
}

.visit-container-open > .divider > button {
    width: 50%;
    height: 100%;
    font-size: 1.1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s;
}

.visit-container-open > .divider > .active {
    background-color: #3b4890;
    color: #fff;
}

.visit-container-open > .detail-container {
    width: 100%;
    height: 16.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 1.2rem;
}

.hit-gallery-container {
    width: 100%;
    height: 4rem;
    display: flex;
}

.hit-gallery-container > .hit-gallery {
    width: 100%;
    height: 100%;
}

.hit-gallery-container > .hit-gallery > .text-box {
    border-bottom: 3px solid #3b4890;
    font-size: 1.2rem;
    height: 3.2rem;
    color: #3b4890;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hit-gallery-container > .hit-gallery > .text-box > .button-box > button {
    background-color: #3b4890;
    border: none;
    height: 1.8rem;
    color: #fff;
}

.hit-gallery-container > .hit-gallery > .text-box > .button-box > button > svg {
    margin-bottom: -0.15rem;
}

.hit-gallery-container > .hit-gallery > .text-box > .button-box > span {
    margin-right: 1rem;
}

.login-container {
    margin-top: 0.7rem;
    width: 370px;
    height: 10rem;
    background-color: #fff;
    border: 1px solid #3B4890;
    margin-left: 30px;
}

.login-container > .login-box {
    height: 100%;
    width: 10rem
}

.login-container > .login-box > .login-contents {
    width: 100%;
    height: 60%;
    margin: auto;
    margin-bottom: -10px;
    margin-top: 10px;
}

.id-box {
    display: flex;
    width: 15.5rem;
    height: 2.5rem;
}

.checkbox {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
    margin-top: 0.7rem;
    cursor: pointer;
}

.code-submit {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 0.8rem;
}

.id {
    border: none;
    background-color: #eee;
    width: 9rem;
    height: 2.5rem;
    padding-left: 10px;
}

.password {
    border: none;
    background-color: #eee;
    width: 9rem;
    height: 2.5rem;
    padding-left: 10px;
}

.login-container > .login-box > .login-contents > form {
    width: 80%;
    height: 3.5rem;
    margin-top: 1.1rem;
    margin-left: 1rem;
}


.login-container > .login-box > .login-contents > form > .password-login {
    width: 15rem;
    height: auto;
    display: flex;
    cursor: pointer;
}

.login-container > .login-box > .login-contents > form > .password-login > button {
    background-color: #3b4890;
    color: #eee;
    width: 8rem;
    height: 2.5rem;
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.login-container > .login-box > .join-find-box {
    width: 13rem;
    height: 20%;
    margin: auto;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-top: 1.3rem;
    border-top: dashed 1px #AAAAAA;
    cursor: pointer;
}

.password {
    margin-top: 0.7rem;
}

.gallery-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 100%;
}

.gallery-box > .img {
    width: 24%;
    height: 90%;
    background: #000;
}

.mini-gallery {
    background-color: #fff;
    border: #AAAAAA 1px solid;
    width: 100%;
    height: 27rem;
}

.gallery-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    width: 16rem;
    height: 4rem;
    border-bottom: dashed 1px #AAAAAA;
}

.gallery-title > h1 {
    font-size: 1.2rem;
    width: 6rem;
}

.gallery-title > .mini-box > span {
    margin: 0 10px 0 0;
    color: #3B4890;
    cursor: pointer;
}

.mini-box > span:hover {
    color: #EBB679;
    border-bottom: #EBB679 solid 1px;

}

.text-box1 {
    border-bottom: 3px solid #3b4890;
    font-size: 1.2rem;
    height: 3.2rem;
    color: #3b4890;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.silverite {
    width: 6rem;
    margin-left: 1.7rem;
}

.check-ico {
    width: 2.5rem;
    height: 2rem;
    transition: all .2s;
}

.check-ico:hover {
    cursor: pointer;
    filter: invert(53%) sepia(0%) saturate(2698%) hue-rotate(320deg) brightness(94%) contrast(99%);
}

.sil-gallery {
    padding: 0 0 0 15px;
    font-size: 1rem;
}

.triangle-ico {
    width: 1.5rem;
    height: 4rem;
    color: #3B4890;
}